<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button ion-only (click)="onToggleMenu()">
                <ion-icon name= "menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title *ngIf="mode === 'new'">Nouvel utilisateur</ion-title>
        <ion-title *ngIf="mode === 'connect'">Connexion</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="authForm">
        <ion-list>
            <ion-item>
                <ion-label floatting>Adresse email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floatting>Mot de passe</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
        </ion-list>
        <button ion-button full (click)="onSubmitForm()">Soumettre</button>
        <span ion-text color="danger">{{ errorMessage }}</span>
    </form>
</ion-content>