<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content padding>
        <ion-list>
            <button ion-item icon-start (click)="onNavigate(tabsPage)" *ngIf="isAuth">
                <ion-icon name="folder"></ion-icon>
                Bibliothèque
            </button>
            <button ion-item icon-start (click)="onNavigate(settingsPage)" *ngIf="isAuth">
                <ion-icon name="options"></ion-icon>
                Configuration
            </button>
            <button ion-item icon-start (click)="onNavigate(authPage, {mode: 'new'})" *ngIf="!isAuth">
                <ion-icon name="person-add"></ion-icon>
                 Nouvel utilisateur
            </button>
            <button ion-item icon-start (click)="onNavigate(authPage, {mode: 'connect'})" *ngIf="!isAuth">
                <ion-icon name="person"></ion-icon>
                Connexion
            </button>
            <button ion-item icon-start (click)="onDisconnect()" *ngIf="isAuth">
                <ion-icon name="exit"></ion-icon>
                Déconnexion
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="tabsPage" #content></ion-nav>